.advantages.section {
  padding-bottom: 0;
}

.advantages__list {
  display: flex;
  gap: 30px;
}

.advantages__item {
  width: calc((100% - 90px) / 4);
}

.advantages__item::before {
  display: block;
  content: "";
  height: 120px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--background-color-team);
  border-radius: 4px;
  margin-bottom: 30px;
}

.antenna-icon::before {
  background-image: url("../images/antenna.svg");
}

.clock-icon::before {
  background-image: url("../images/clock.svg");
}

.diagram-icon::before {
  background-image: url("../images/diagram.svg");
}

.astronaut-icon::before {
  background-image: url("../images/astronaut.svg");
}

.advantages__title {
  @include font(700, 14px, 1.14, null);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantages__text {
  @include font(null, 14px, 1.71, null);
  color: var(--secondary-color-font);
}
