.header {
  border-bottom: 1px solid var(--header-border-line-bottom);
}

.header__container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  @include font(700, 24px, 1.17, null);
  color: var(--accent-color-two);

  @media screen and (min-width: 1200px) {
    @include font(700, 26px, 1.19, null);
  }
}

.navigation__logo {
  // margin-right: 93px;
  @media screen and (max-width: 767px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.logo__part--dark {
  color: var(--main-color-dark);
}

.logo__part--light {
  color: var(--main-color-light);
}

.menu {
  // display: flex;
  // gap: 50px;
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.menu__link {
  @include font(500, 14px, 1.14, 0.02em);
  color: var(--accent-color-one);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--transition-duration) var(--transition-timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color-two);
  }
}

.menu__link--current {
  position: relative;
  color: var(--accent-color-two);
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    background: var(--accent-color-two);
    border-radius: 2px;
  }
}

.contacts {
  // display: flex;
  // margin-left: auto;
  // gap: 50px;
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.contacts__item {
  display: flex;
  align-items: center;
}

.contacts__link {
  @include font(500, 14px, 1.14, 0.02em);
  color: var(--secondary-color-font);
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  transition: color var(--transition-duration) var(--transition-timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color-two);
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.header__mob-menu {
  position: fixed;
  top: 0;
  background-color: var(--main-color-light);
  width: 100vw;
  height: 100%;
  z-index: 1;
  padding: 48px 40px;
  > .container-wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
  }
}

.header__mob-menu.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.header__btn-open {
  @media screen and (max-width: 767px) {
    margin-left: auto;
    padding: 0;
    border: none;
    background-color: transparent;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header__btn-close {
  @media screen and (max-width: 767px) {
    display: block;
    margin-left: auto;
    padding: 0;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 15px;
  }
  &:hover,
  &:focus {
    color: var(--accent-color-two);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header-menu {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 50px;
}

.menu-contacts {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 64px;
}

.header-menu__link {
  @include font(500, 40px, 1.18, 0.02em);
  color: var(--accent-color-one);
}
.header-menu__link--current {
  color: var(--accent-color-two);
}

.menu-contacts__tel {
  @include font(500, 34px, 1.18, 0.02em);
  color: var(--accent-color-two);
}

.menu-contacts__link {
  @include font(500, 24px, 1.17, 0.02em);
  color: var(--secondary-color-font);
}

.mob-soc {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.mob-soc__link {
  @include font(500, 18px, 1.22, 0.02em);
  color: var(--accent-color-two);
}

.mob-soc__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
