.our-work__title,
.team__title {
  @include font(700, 36px, 1.17, null);
  text-align: center;
  margin-bottom: 50px;
}

.pictures {
  display: flex;
  gap: 30px;
}

.pictures__item {
  width: calc((100% - 60px) / 3);
}

.pictures__card {
  position: relative;
}

.pictures__title {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  @include font(700, 14px, 1.14, null);
  text-align: center;
  text-transform: uppercase;
  color: var(--main-color-light);
  background: rgba(47, 48, 58, 0.8);
}
