:root {
  --accent-color-one: #212121;
  --accent-color-two: #2196f3;
  --secondary-color-font: #757575;
  --main-color-light: #ffffff;
  --main-color-dark: #000000;
  --hover-focus-color: #188ce8;
  --background-color-dark: #2f303a;
  --background-color-team: #f5f4fa;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --portfolio-cards-border: #eeeeee;
  --header-border-line-bottom: #ececec;
  --hero-background: #c4c4c4;
  --clients-logo-color: #afb1b8;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
